<form>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome:</label>
      <input 
        type="text" 
        class="form-control" 
        id="nome" 
        aria-describedby="Nome do Usuário"
        [(ngModel)]="nome"
        name="nome"
      >
    </div>
    <div class="mb-3">
        <label for="valor" class="form-label">Valor:</label>
        <input 
          type="text" 
          class="form-control" 
          id="valor" 
          aria-describedby="Valor do usuário"
          [(ngModel)]="valor"
          name="valor"
        >
    </div>  
    <button 
      type="button" 
      class="btn btn-primary"
      (click)="salvar()"
    >Salvar</button>
    <button 
      type="button" 
      class="btn btn-danger"
      (click)="limpar()"
    >Limpar</button>
</form>