<form *ngIf="display_form">
  <fieldset>
    <legend>Tela de Venda</legend>
    <div>
      <label>Cliente:</label>
      <br/>
      <input type="text" name="cliente" [(ngModel)]="cliente" />
    </div>
    <div>
      <label>Produto:</label>
      <br/>
      <input type="text" name="produto" [(ngModel)]="produto" />
    </div>
    <div>
      <label>Quantidade:</label>
      <br/>
      <input type="button" value="-" (click)="dec()" />
      <input type="text" name="quantidade" [(ngModel)]="quantidade" />
      <input type="button" value="+" (click)="inc()" />
    </div>    
    <div>
      <label>Valor:</label>
      <br/>
      <input type="text" name="valor" [(ngModel)]="valor" />
    </div>
    <input type="button" value="Visualizar Recibo" (click)="showRecibo()" />
  </fieldset>
</form>

<div *ngIf="display_recibo">
  <input type="button" value="Imprimir" onclick="window.print()" />
  <p>*****************************************</p>
  <p>RECIBO DE VENDA</p>
  <p>*****************************************</p>
  <p>Cliente...................: {{ cliente }}</p>
  <p>Produto..................: {{ produto }}</p>
  <p>Quantidade............: {{ quantidade }}x - R$ {{ valor }}</p>
  <p>_________________________________________</p>
  <p>Valor Total (R$)....: <strong>{{ valorTotal() }}</strong></p>
  <input type="button" value="Voltar" (click)="showForm()" />  
</div>