<form>
  <fieldset>
    <legend>Cadastro de Filho</legend>
    <div>
      <label for="nome">Nome:</label>
      <br/>
      <input 
        type="text" 
        [(ngModel)]="nome"
        name="nome"
        [style]="borda_nome"
      />
    </div>
    <div>
      <label for="datanascimento">Data de Nascimento</label>
      <br/>
      <input 
        type="text"
        [(ngModel)]="datanascimento"
        name="datanascimento"
        [style]="borda_datanascimento"
      />
    </div>
    <input 
      type="button" 
      value="Salvar" 
      (click)="salvar()"
    />
  </fieldset>
</form>